[channel.master]
    name = master
    createdby =
    description = General Channel
[channel.random]
    name = "Random Dev Stuff"
    createdby = testuser@something.com
    description = Stuff for random things and stuff
[channel.dev]
	name = "Dev Stuff"
	createdby = testuser@something.com
	description = things
[channel."/dev/random"]
	name = "Random Dev Stuff"
	createdby = testuser1@something.com
	description = more things
